.Navbar {
  display: flex;
  background-color: rgb(170, 144, 144);
}

.Navbar > * {
  margin-right: 10px;
}

.contactListElement {
  padding: 5px;
  border-top: 1px solid lightgrey;
}

.contactListElement:hover {
  background-color: lightyellow;
  color: red;
}

.contactListView {
  display: flex;
}

.contactList {
  width: 25%;
  border-right: 1px solid lightgrey;
}

.Nappi1 {
  margin-left: 10px;
}

.Nappi2 {
  margin-left: 10px;
}
