.UserTexts {
    padding-left: 30px;
    padding-bottom: 20px;
}

.UserTexts1 {
    font-size: 20px;
    padding-left: 30px;
    padding-top: 20px;
}

.SettingsButton {
    width: 95px;
    height: 70px;
    position: absolute;
    bottom: 40px;
    left: 15px;
}

.infoBox {
    background-color: aliceblue;
    padding-left: 30px;
    padding-top: 20px;
    margin-left: 20px;
    height: 400px;
    width: 45%;
    overflow: auto;
    border: 1px solid grey;
    border-radius: 25px;
}